main{
    margin: auto;
}

body{
    background-clip: content-box;
    background-color: #782221;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    border: solid black;

} 

h2 {
    background-color: #dbc2a4;
    width: 85%;
    height: cover;
}

section{
    background-color: #782221;
    width: 25%;
}

#deux{
    width: 75%;
    background-color: white;
    padding: 25px;
    text-indent: 0px;
}

