body{
    background-color: #782221;
    background-size: cover;
} 

h2 {
    background-color: #dbc2a4;
    width: cover;
    height: cover;
}

section{
    background-color: #782221;
    width: 25%;
}

#deux{
    width: 75%;
    background-color: white;
}